# original quirks
.DS_Store
MAINTENANCE.md
gitknow.md

*_v2
_v2/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# astro
dist/
.astro/
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# jetbrains setting folder
.idea/
.vscode/

# cowork / claude local session files
.claude/
